IMG_NAME='PiOs'
RELEASE='bullseye'
DEPLOY_COMPRESSION='xz'
LOCALE_DEFAULT='zh_CN.UTF-8'
TARGET_HOSTNAME='raspberrypi'
TIMEZONE_DEFAULT="Asia/Shanghai"
DISABLE_FIRST_BOOT_USER_RENAME=1
FIRST_USER_PASS="raspberry"
ENABLE_SSH=1
