IMG_NAME='PiOs'
RELEASE='bullseye'
DEPLOY_COMPRESSION='xz'
LOCALE_DEFAULT='en_US.UTF-8'
TARGET_HOSTNAME='raspberrypi'
TIMEZONE_DEFAULT="Asia/Shanghai"
DISABLE_FIRST_BOOT_USER_RENAME=1
FIRST_USER_PASS="raspberry"
ENABLE_SSH=1
STAGE_LIST="stage0 stage1 stage2"
